.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(31, 46, 34);
    text-align: center;
}

.site-footer a {
    color: #3e804d;
}

.site-footer a:hover {
    color: #214b39;
    text-decoration: none;
}